backports.ssl-match-hostname==3.5.0.1
BeautifulSoup==3.2.1
beautifulsoup4==4.4.1
Cython==0.23.4
dpkt==1.8.6.2
ecdsa==0.13
gevent==1.1.0
greenlet==0.4.9
idna==2.1
numpy==1.10.1
paramiko==1.16.0
pycrypto==2.6.1
requests==2.8.1
selenium==2.48.0
simplejson==3.8.1
six==1.10.0
tinycss==0.3
tldextract==1.7.5
websocket-client==0.34.0
